<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, t('activerecord.errors.messages.error')) %> <%= t('activerecord.errors.messages.prohibited_save') %></h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field task_show task_show_top">
    <%= form.label(t('activerecord.blog.title')) %>
    <%= form.text_field(:title) %>
  </div>

  <div class="field task_show">
    <%= form.label(t('activerecord.blog.content')) %>
    <%= form.text_area(:content) %>
  </div>

  <div class="field task_show">
    <%= form.label(t('activerecord.blog.limit')) %>
    <%= form.date_field(:limit) %>
  </div>

  <div class="field task_show">
    <%= form.label(t('activerecord.blog.status')) %>
    <%= form.select :status, ['未着手','着手中','完了'], include_blank: true %>
  </div>

  <div class="field task_show">
    <%= form.label(t('activerecord.blog.priority')) %>
    <%= form.select :priority, ['低','中','高'], include_blank: true %>
  </div>

  <div class="field task_show">
    <%= form.label('ラベル') %>
    <table id="label_table">
      <tr>
      <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label) do |b| %>
        <td>
          <%= b.label { b.check_box + b.label } %> 
        </td>
      <% end %>
      </tr>
    </table>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
