<h2><%= @task.title %></h2>

<p class = "task_show task_show_top">
  <strong><%= t('activerecord.blog.content') %></strong>
  <%= @task.content %>
</p>

<p class = "task_show">
  <strong><%= t('activerecord.blog.limit') %></strong>
  <%= @task.limit.strftime("%Y-%m-%d %H:%M") %>
</p>

<p class = "task_show">
  <strong><%= t('activerecord.blog.update') %></strong>
  <%= @task.updated_at.strftime("%Y-%m-%d %H:%M") %>
</p>

<p class = "task_show">
  <strong><%= t('activerecord.blog.status') %></strong>
  <%= @task.status %>
</p>

<p class = "task_show">
  <strong><%= t('activerecord.blog.priority') %></strong>
  <%= @task.priority %>
</p>

<%= link_to(t('activerecord.blog.edit') , edit_task_path(@task)) %> |
<%= link_to(t('activerecord.blog.back'), tasks_path) %>

