<h2><%= @user.name %>のアカウント情報</h2>
<div class="user_info_container">
  <p>
    <strong>全タスク数 </strong>
    <%= @user.tasks.size %>
  </p>
  <p>
    <strong>登録メールアドレス </strong>
    <%= @user.email %>
  </p>
  <br>
  <br>
  <p>
    <strong><%= p("管理権限があります") if @user.admin %></strong>
  </p>
</div>
<div class="operation_box">
  <%= link_to '戻る', tasks_path %>
</div>